/* 
    Document   : newCascadeStyleSheet
    Created on : 06-ago-2012, 10:48:32
    Author     : venusruizberlanga
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

Hola???
lo ves